.h-100vh {
  height: 100vh;
}

.h-92 {
  height: 92%;
}

.h-80px {
  height: 80px;
}

.text-btn-color {
  background-color: #8f6262;
}

@media (min-width: 768px) {
  .w-sm-50 {
    width: 50% !important;
  }
}

.w-250px {
  width: 250px;
}

.login {
  .block {
    width: 310px;
    margin-top: -20px;
  }
}

.mt-60px {
  margin-top: 60px;
}

.bi {
  margin-top: -3px;
}

.w-5px {
  width: 5px;
}

.navbar-toggler {
  border: 0;
  padding: 5px;
}

.animation-progress-ms {
  .progress-bar {
    transition: width 0.3s ease !important;
  }
}

.selectVAutomatic {
  width: 150px;
  margin: auto;
  margin-top: 10px !important;
}

.h-60px {
  height: 60px;
}

.pointer {
  cursor: pointer;
}

.mx-650px {
  max-width: 650px;
}

.h-10px {
  height: 10px;
}